{:r 4.0,
 :n 3500,
 :cx -3.2,
 :cy 0.5,
 :strokes [{:color "#ffffff", :opacity 0.0}],
 :res {:x 1600, :y 1200},
 :bg "black",
 :fills [{:color "aqua", :opacity 0.7} {:color "black", :opacity 0.7}],
 :shapes [6]}
